<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>{{isNew ? 'Create' : 'Edit' }} template preset</h3>
    </div>

    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="presetAlias">Preset alias</label>
          <input type="text" id="presetAlias" name="presetAlias" class="form-control" placeholder="Insert an alias for the preset"
            [(ngModel)]="preset.alias">
        </div>

        <div class="form-group">
          <label for="presetCategory">Preset category</label>
          <input type="text" id="presetCategory" name="presetCategory" class="form-control" placeholder="Insert a category to group saved aliases"
            [(ngModel)]="preset.aliasCategory">
        </div>

        <div class="form-group">
          <label for="projectName">Project name</label>
          <input type="text" id="projectName" name="projectName" class="form-control" placeholder="Insert the name of the generated project"
            [(ngModel)]="preset.projectName">
        </div>

        <div class="form-group">
          <label for="originFolder">Template origin folder</label>
          <div class="input-group">
            <input type="text" id="originFolder" name="originFolder" class="form-control" placeholder="Select the template origin folder"
              [(ngModel)]="preset.templateOrigin">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary" type="button">Browse</button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="outputFolderPath">Output folder path</label>
          <div class="input-group">
            <input type="text" id="outputFolderPath" name="outputFolderPath" class="form-control" placeholder="Select the generated output path"
              [(ngModel)]="preset.outputFolderPath">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary" type="button">Browse</button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="fileExtensions">File types extensions</label>
          <div class="input-group">
            <input type="text" id="fileExtensions" name="fileExtensions" class="form-control" placeholder="Insert the file type(s) extensions for the keywords replacement (comma separated)"
              [(ngModel)]="preset.fileKeywordTypesExtensions">
          </div>
        </div>

        <div class="form-group">
          <label for="keywords">Replacement keywords</label>
          <form class="form-inline">
            <label class="sr-only" for="keywordValue">Keyword</label>
            <input #keywordValue type="text" class="form-control mb-2 mr-sm-2" id="keywordValue" placeholder="Keyword">

            <label class="sr-only" for="keywordReplacement">Replacement</label>
            <input #keywordReplace type="text" class="form-control mb-2 mr-sm-2" id="keywordReplacement" placeholder="Replacement">

            <label class="sr-only" for="keywordType">Type</label>
            <select #keywordType class="form-control mb-2 mr-sm-2" id="keywordType">
              <option selected="selected">text</option>
              <option>function</option>
            </select>

            <label class="custom-control custom-checkbox">
              <input #keywordShowInGenerate type="checkbox" class="custom-control-input mb-2 mr-sm-2" name="showInGenerate">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Show in generate</span>
            </label>

            <button type="button" class="btn btn-primary mb-2" (click)="addKeyword(keywordValue, keywordReplace, keywordType, keywordShowInGenerate)">Add</button>
          </form>

          <table *ngIf="preset.keywords.length > 0" class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Keyword</th>
                <th scope="col">Replacement</th>
                <th scope="col">Type</th>
                <th scope="col">Show in generate</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let keyword of preset.keywords">
                <td>{{keyword.keywordName}}</td>
                <td>{{keyword.replacement}}</td>
                <td>{{keyword.keywordType}}</td>
                <td>{{keyword.showInGenerate}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-danger" (click)="removeKeyword(keyword.keywordName)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="addToSourceControl" [(ngModel)]="preset.addToSourceControl">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Add to Source Control
            </span>
          </label>
        </div>

        <div class="form-group">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="useAutomationUpdates" [(ngModel)]="preset.useAutomationUpdates">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Run AutomationToolkitUpdates (Must config manually)
            </span>
          </label>
        </div>

      </form>

      <div class="alert alert-success alert-dismissible fade show" *ngIf="postOk">
        <strong>Save success!</strong>
      </div>

    </div>

    <div class="card-footer text-muted">
      <button type="button" class="btn btn-success" (click)="save()">Save</button>
      <button type="button" class="btn btn-secondary" routerLink="">{{postOk ? 'Back' : 'Cancel'}}</button>
    </div>

  </div>
</div>
