<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Form generator</h3>
    </div>

    <div class="card-body">
      <wiz-step-preparation *ngIf="currentStep===0"></wiz-step-preparation>
      <wiz-step-details *ngIf="currentStep===1"></wiz-step-details>
    </div>

    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary" routerLink="">Cancel</button>
      <button type="submit" class="btn btn-success" (click)="nextStep()">Next</button>
    </div>

  </div>
</div>
