<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Form generator</h3>
    </div>

    <form #frm="ngForm">
      <div class="card-body">
        <!-- TODO: standalone component -->
        <div *ngIf="wizStep===0">
          <h5 class="card-title">
            <strong>Step 1:</strong> Select a datasource
          </h5>

          <ngb-tabset #tabSet>
            <ngb-tab id="schemaTab" title="Schema data object">
              <ng-template ngbTabContent>
                <div class="form-group">
                  <label for="tableXmlPath">Path to schema table xml</label>
                  <input type="text" id="tableXmlPath" name="tableXmlPath" class="form-control" placeholder="Insert the path to the schema table xml file"
                    [(ngModel)]="data.tableXmlPath" required>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="pocoTab" title="Poco">
              <ng-template ngbTabContent>
                <div class="form-group">
                  <label for="assemblyPath">Assembly path</label>
                  <input type="text" id="assemblyPath" name="assemblyPath" class="form-control" placeholder="Insert the path to the Assembly"
                    [(ngModel)]="data.asmPath" required>
                </div>
                <div class="form-group">
                  <label for="classFullName">Class full name</label>
                  <input type="text" id="classFullName" name="classFullName" class="form-control" placeholder="Insert the full name of the class"
                    [(ngModel)]="data.fullName" required>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
        <!--  -->

        <!-- TODO: standalone component -->
        <div *ngIf="wizStep===1 && pocoInfo">
          <h5 class="card-title">
            <strong>Step 2:</strong> Datasource details
          </h5>
          <div>
            <strong>Class:</strong> {{pocoInfo.className}}</div>
          <div>
            <strong>Properties:</strong>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let dataSourceItem of pocoInfo.dataSourceInfo">

                <div class="row">

                  <div class="col-lg-4">
                    <strong>{{dataSourceItem.name}}</strong> ({{dataSourceItem.caption}})
                    <footer style="color: blue">{{dataSourceItem.dataType}}</footer>
                  </div>
                  <div class="col-lg-4" style="align-self: center;">
                    <select class="form-control">
                      <option *ngFor="let editor of formEditors" [selected]="editor.isDefaultForAssignType">{{editor.editorName}}</option>
                    </select>
                  </div>
                </div>

                <!-- <div class="media">
                  <div class="mr-3">
                    <strong>{{dataSourceItem.name}}</strong> ({{dataSourceItem.caption}})
                    <footer style="color: blue">{{dataSourceItem.dataType}}</footer>
                  </div>
                  <div class="media-body">
                    <select class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div> -->
              </li>
            </ul>
          </div>
        </div>
        <!--  -->

      </div>
    </form>

    <div class="card-footer text-muted">
      <button type="button" class="btn btn-warning" (click)="previousStep()">Back</button>
      <button type="submit" class="btn btn-success" (click)="nextStep(frm)">Next</button>
      <button type="button" class="btn btn-secondary float-right" routerLink="">Cancel</button>
    </div>

  </div>
</div>