<div class="container">
  <h4>Actions:</h4>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="/generateprojectlist">Generate project from template
      <span class="badge badge-success" *ngIf="templatesCount">{{templatesCount}} available</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="/createtemplate">Create template preset</a>
    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center disabled" routerLink="/generateform" disabled>Generate form
      <span class="badge badge-secondary">Coming Soon</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="/settings">Settings</a>
  </div>
</div>
