<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Generate project</h3>
    </div>

    <div class="card-body" *ngIf="preset">
      <h5 class="card-title">Preset:
        <strong class="text-success">{{preset.alias}}</strong>
      </h5>
      <br>

      <div *ngIf="keywords && keywords.length > 0">
        <h5>Required Keywords:</h5>
        <form>
          <div class="form-group row" *ngFor="let keyword of keywords">
            <label class="offset-2 col-lg-2 col-form-label">{{keyword.keywordName}}</label>
            <div class="col-lg-4">
              <input type="text" class="form-control" [name]="keyword.keywordName" [(ngModel)]="keyword.replacement">
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="showDetails">
        <pre>{{preset | json}}</pre>
      </div>

      <div class="alert alert-success alert-dismissible fade show" *ngIf="postOk">
        <strong>Generated project success!</strong>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="postFail">
        {{errorMessage}}
      </div>

    </div>

    <div class="card-footer text-muted">
      <button type="button" class="btn btn-success" (click)="generateProject()">Generate!</button>
      <button type="button" class="btn btn-secondary" routerLink="/generateprojectlist">Back</button>
      <button type="button" class="btn btn-primary" (click)="toggleShowDetails()">Details</button>
    </div>

  </div>
</div>
