<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Settings</h3>
    </div>

    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="tfsUrl">TFS url</label>
          <input type="text" id="tfsUrl" name="tfsUrl" class="form-control" placeholder="Insert the TFS url to be able to checkout files"
            [(ngModel)]="appSettings.tfsUrl">
        </div>

        <div class="form-group">
          <label for="templatesFolderPath">Templates folder path</label>
          <input type="text" id="templatesFolderPath" name="templatesFolderPath" class="form-control" placeholder="Insert the Templates folder path"
            [(ngModel)]="appSettings.templatesFolderPath">
        </div>
      </form>

      <div class="alert alert-success alert-dismissible fade show" *ngIf="postOk">
        <strong>Save success!</strong>
      </div>
    </div>

    <div class="card-footer text-muted">
      <button type="button" class="btn btn-success" (click)="save()">Save</button>
      <button type="button" class="btn btn-secondary" routerLink="">Cancel</button>
    </div>

  </div>
</div>
